.headerContainer {
  display: flex;
  height: 100%;
}

.navButtons {
  display: flex;
  flex-direction: column;
  width: 15rem;
  background-color: var(--gray-800);
  padding: 2rem;
}

.navlink {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: var(--gray-100);
  text-decoration: none;
  border-left: 3px solid transparent;
}

.navlink:hover {
  background-color: var(--green-500);
}

.navlink.active {
  border-left: 3px solid var(--green-500);
}

.content {
  flex: 1;
  padding: 2rem;
  background-color: var(--gray-900);
}

.welcomeMessage {
  margin-bottom: 2rem;
  color: var(--gray-100);
}
.icon{
  margin-right: 1rem;
}